<div class="card">
  <h4 class="card-header">Purchase Details</h4> 
  <br>

  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" >
        <nz-form-item>
          <nz-form-label [nzSm]="8" nzFor="purCustName" nzRequired>Customer Name</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="purCustName" [(ngModel)]="multipleValue" [nzSize]="size" nzMode="multiple" nzPlaceHolder="Select customer name">
              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSm]="8" nzFor="purDate">Purchase Date</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="purDate" nzPlaceHolder="Select purchase date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzFor="purDcNo" [nzSm]="8" >D.C.No.</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="D.C.No."
              formControlName="purDcNo"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
      
        <button nz-button nzType="primary">
          <i nz-icon nzType="search"></i>
          Search
        </button>
        <button nz-button nzType="danger" (click)="resetForm()">Clear</button> 
        <button nz-button nzType="primary" (click)="showModal('')" >Add Purchase Details</button>
        
      </div>
    </div>
  </form>
  <div class="search-result-list">
    <nz-table
    nzShowSizeChanger
    [nzData]="PurchaseList"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    >
    <thead>
        <tr>
          <th style="width: 20%" nzColumnKey="customerName" [nzSortFn]="true">Customer Name</th>
          <th style="width: 10%" nzColumnKey="purchaseDate" [nzSortFn]="true">Purchase Date</th>
          <th style="width: 13%" nzColumnKey="dcNo" [nzSortFn]="true">D.C.No.</th>
          <th style="width: 12%" nzColumnKey="vehicleNo" [nzSortFn]="true">Vehicle No.</th>
          <th style="width: 25%">Particulars</th>
          <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchaseList of PurchaseList">
        <td>{{purchaseList.customerName}}</td>              
        <td>{{purchaseList.purchaseDate | date:'MM/dd/yyyy'}}</td> 
        <td>{{purchaseList.dcNo}}</td> 
        <td>{{purchaseList.vehicleNo}}</td> 
        <td></td>  
        <td style="white-space: nowrap">

          <i _ngcontent-docs-c228="" nz-icon=""  data-toggle="modal" data-target="#exampleModal"
          (click)="showModal(purchaseList)" 
          data-backdrop="static" data-keyboard="false" 
          class="cursor-pointer">
            <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="edit" aria-hidden="true">
            <path d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z">

            </path>
            </svg>
          </i>
          &nbsp; &nbsp; 
          <i  nz-popconfirm nzPopconfirmTitle="Sure to delete?"  _ngcontent-docs-c228="" nz-icon="" class="cursor-pointer" 
          (nzOnConfirm)="deletePurchaseDetails(purchaseList.purchaseId)">
            <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" 
            data-icon="delete" aria-hidden="true">
            <path d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z">
            </path>
            </svg>
          </i>
              
        </td>
      </tr>
    </tbody>
    </nz-table>
  </div>
</div>

<nz-modal 
[(nzVisible)]="isVisible" 
nzTitle="{{purchaseTitle}}"
(nzOnCancel)="onCancel()"
nzCentered
nzWidth="780"
>
  <form nz-form [formGroup]="purchaseForm" class="ant-advanced-search-form" >
  <div nz-row [nzGutter]="15">
    <div nz-col [nzSpan]="15" >
      <nz-form-item>
        <nz-form-label nzFor="custName" [nzSm]="8" nzRequired >Customer Name</nz-form-label>
        <nz-form-control>
          <!-- <nz-select [(ngModel)]="selectedValue">
            <nz-option *ngFor="let option of custListOfOption" [nzLabel]="option" [nzValue]="option"></nz-option>
            <nz-option nzLabel="Default Value" nzValue="Default" nzHide></nz-option>
          </nz-select> -->
          <nz-select [(ngModel)]="selectedCustValue" formControlName="customerName">
            <nz-option *ngFor="let cust of CustomerList" [nzLabel]="cust.customerName" [nzValue]="cust.customerId"></nz-option>
            <nz-option nzLabel="-- Select Customer --" nzValue="Default" nzHide></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="15">
    <div nz-col [nzSpan]="15">
      <nz-form-item>
        <nz-form-label [nzSm]="8" nzRequired>Purchase Date</nz-form-label>
        <nz-form-control nzErrorTip="Please enter the purchase date.">
          <nz-date-picker  formControlName="purchaseDate" 
          nzPlaceHolder="Select purchase date"
          [(ngModel)]="purchaseDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="15">
    <div nz-col [nzSpan]="15">
      <nz-form-item>
        <nz-form-label [nzSm]="8" nzRequired >Style No.</nz-form-label>
        <nz-form-control nzErrorTip="Please enter the style No.">
          <input
            nz-input
            placeholder="Style No."
            formControlName="styleNo"
            [(ngModel)]="styleNo"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="15">
    <div nz-col [nzSpan]="15">
      <nz-form-item>
        <nz-form-label [nzSm]="8" nzRequired>D.C.No.</nz-form-label>
        <nz-form-control nzErrorTip="Please enter the D.C.No.">
          <input
            nz-input
            placeholder="D.C.No."
            formControlName="dcNo"
            [(ngModel)]="dcNo"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="15">
    <div nz-col [nzSpan]="15">
      <nz-form-item>
        <nz-form-label [nzSm]="8" nzRequired>Vehicle No.</nz-form-label>
        <nz-form-control nzErrorTip="Please enter the vehicle No.">
          <input
            nz-input
            placeholder="Vehicle No."
            formControlName="vehicleNo"
            [(ngModel)]="vehicleNo"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
 
  </form>
  <div *nzModalFooter >
    <button nz-button nzType="primary" (click)="onSubmit()">Save</button>
    <button nz-button nzType="danger" (click)="onCancel()">Cancel</button>
  </div>
</nz-modal>