<div class="card">
  <h4 class="card-header">Change Password</h4> 
  <br>
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" >
        <nz-form-item>
          <nz-form-label nzFor="oldPassword" [nzSm]="8">Old Password</nz-form-label>
          <nz-form-control>
            <input
              nz-input type="password"
              placeholder="Old Password"
              formControlName="oldPassword"
              maxlength="20" 
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzFor="newPassword" [nzSm]="8" nzRequired >New Password</nz-form-label>
          <nz-form-control  nzErrorTip="Please enter the new password.">
            <input
              nz-input type="password"
              placeholder="New Password"
              formControlName="newPassword"
              maxlength="20" 
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzFor="retypePassword" [nzSm]="9" nzRequired>Retype Password</nz-form-label>
          <nz-form-control  nzErrorTip="Please enter the retype password.">
            <input
              nz-input type="password"
              placeholder="Retype Password"
              formControlName="retypePassword"
              maxlength="20"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      
      
    </div>
  
  
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button nzType="primary">Update Password</button>
       
     
      </div>
    </div>
  </form>

</div>